@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-green: #009877;
  --brand-yellow: #f7be00;
  --brand-grey: #d8d8d8;
  --brand-black: #3d3935;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-green: var(--brand-green);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-grey: var(--brand-grey);
  --color-brand-black: var(--brand-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  /* .hover-shadow-brand {
    @apply transition-shadow duration-150 shadow-none hover:shadow-[4px_4px_0_0_var(--brand-black)] bg-brand-yellow 
    text-white;
  } */
}

@layer base {
  h1 {
    @apply text-xl font-bold;
  }
  button {
    @apply transition-shadow duration-150 shadow-none hover:shadow-[4px_4px_0_0_var(--brand-black)] bg-brand-yellow 
      text-white rounded;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
  font-weight: 500;
}
